<%= form_with(model: programming_rail) do |form| %>
  <% if programming_rail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(programming_rail.errors.count, "error") %> prohibited this programming_rail from being saved:</h2>

      <ul>
        <% programming_rail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
