<p style="color: green"><%= notice %></p>

<%= render @programming_rail %>

<div>
  <%= link_to "Edit this programming language", edit_programming_rail_path(@programming_rail) %> |
  <%= link_to "Back to list of all programming languages", programming_rails_path %>

  <%= button_to "Delete this language", @programming_rail, method: :delete %>
</div>
